In [7]:
import numpy as np
import pandas as pd
 
df = pd.DataFrame({"price":[500,300,700, 200,np.nan], "brand": ["apple", "google", "apple", "google","apple"], "device":["phone","phone","computer","phone","phone"]}, index=["a","b","c","d","e"])
df

   price   brand    device
a  500.0   apple     phone
b  300.0  google     phone
c  700.0   apple  computer
d  200.0  google     phone
e    NaN   apple     phone

In [10]:
df.groupby("price").count()

       brand  device
price
200.0      1       1
300.0      1       1
500.0      1       1
700.0      1       1

In [9]:
df.groupby("brand").size()

brand
apple     3
google    2
dtype: int64

In [11]:
from sklearn.linear_model import Perceptron
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Cargar el conjunto de datos Iris
iris = load_iris()

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.3, random_state=0)

# Crear un objeto Perceptrón
clf = Perceptron(random_state=0)

# Entrenar el modelo con los datos de entrenamiento
clf.fit(X_train, y_train)

# Realizar predicciones sobre los datos de prueba
y_pred = clf.predict(X_test)

# Calcular la precisión del modelo
accuracy = accuracy_score(y_test, y_pred)

print(f'Precisión del modelo: {accuracy:.2f}')

Precisión del modelo: 0.80

In [12]:
from sklearn.datasets import load_iris
from sklearn.linear_model import Perceptron
from sklearn.model_selection import cross_val_score

# Cargar el conjunto de datos Iris
iris = load_iris()

# Crear un objeto Perceptrón
clf = Perceptron(random_state=0)

# Realizar la validación cruzada con 5 pliegues
scores = cross_val_score(clf, iris.data, iris.target, cv=5)

# Imprimir los resultados de la validación cruzada
print(f'Precisión de la validación cruzada: {scores.mean():.2f}')

Precisión de la validación cruzada: 0.73

In [1]:
## gh

In [3]:
import pandas as pd

# Crea un DataFrame con los datos proporcionados
df = pd.DataFrame({
    'col0': ['jose', 'Ffg', 'FRg', None, 'SGg', None],
    'col1': ['SG', 'FR', 'FR', None, 'SG', None],
    'col2': [12.1, 45.1, 45.1, None, 12.1, None],
    'col3': ['DIGITA', 'CASA', 'CASA', None, 'DIGITA', None],
    'col4': [1, 1, 45.1, None, 12, None],
    'id_atack': [161, 135, 161, 161, 161, 135]
})

df

   col0  col1  col2    col3  col4   id
0  jose    SG  12.1  DIGITA   1.0  161
1   Ffg    FR  45.1    CASA   1.0  135
2   FRg    FR  45.1    CASA  45.1  161
3  None  None   NaN    None   NaN  161
4   SGg    SG  12.1  DIGITA  12.0  161
5  None  None   NaN    None   NaN  135

In [ ]:
# Agrupar por 'id' y llenar los valores faltantes en las columnas 'col1', 'col2' y 'col3'
df_filled = df.copy()  # Crear una copia del DataFrame original

cols_to_impute = ['col1', 'col2', 'col3']  # Especificar las columnas a imputar
df_filled[cols_to_impute] = df.groupby('id')[cols_to_impute].transform(lambda x: x.ffill().bfill())
df_filled

In [ ]:
a = df.groupby('id')[cols_to_impute].transform(lambda x: x.ffill().bfill())
a

In [45]:
import numpy as np
import pandas as pd

# Crear el DataFrame
data = {
    'watcher_country': ['DE', 'DE', 'DE', 'DE', 'DE', 'BR', 'BR', '', '', '', '', np.nan],
    'watcher_as_num': [34011.0, 34011.0, 20886.0, 20886.0, 20886.0, 7162.0, 7162.0, 14618.0, 14618.0, 14618.0, 14618.0, 14618.0],
    'watcher_as_name': ['Host Europe GmbH', 'Host Europe GmbH', 'bn:t Blatzheim Networks Telecom GmbH', 'bn:t Blatzheim Networks Telecom GmbH', 'bn:t Blatzheim Networks Telecom GmbH', 'Universo Online S.A.', 'Universo Online S.A.', '', '', '', '', ''],
    'attacker_country': ['TR', 'TR', 'DE', 'DE', 'DE', 'US', 'US', 'TR', 'TR', 'US', 'US', 'US'],
    'attacker_as_num': [47721.0, 47721.0, 51167.0, 51167.0, 51167.0, 14618.0, 14618.0, 47721.0, 47721.0, 55286.0, 55286.0, 55286.0],
    'attacker_as_name': ['Murat Aktas', 'Murat Aktas', 'Contabo GmbH', 'Contabo GmbH', 'Contabo GmbH', 'AMAZON-AES', 'AMAZON-AES', 'Murat Aktas', 'Murat Aktas', 'SERVER-MANIA', 'SERVER-MANIA', 'SERVER-MANIA'],
    'attack_type': ['http:exploit', 'http:spam', 'http:bruteforce', 'http:spam', 'http:exploit', 'http:spam', 'http:scan', 'http:exploit', 'http:spam', 'http:scan', 'http:spam', 'http:spam'],
    'watcher_uuid_enum': [0, 0, 2, 2, 2, 12087, 12087, 46, 46, 163, 163, 163],
    'attacker_ip_enum': [6466, 6466, 4637, 4637, 4637, 0, 0, 6466, 6466, 5231, 5231, 5231]
}

df = pd.DataFrame(data)
df

,watcher_country,watcher_as_num,watcher_as_name,attacker_country,attacker_as_num,attacker_as_name,attack_type,watcher_uuid_enum,attacker_ip_enum
0,DE,34011.0,Host Europe GmbH,TR,47721.0,Murat Aktas,http:exploit,0,6466
1,DE,34011.0,Host Europe GmbH,TR,47721.0,Murat Aktas,http:spam,0,6466
2,DE,20886.0,bn:t Blatzheim Networks Telecom GmbH,DE,51167.0,Contabo GmbH,http:bruteforce,2,4637
3,DE,20886.0,bn:t Blatzheim Networks Telecom GmbH,DE,51167.0,Contabo GmbH,http:spam,2,4637
4,DE,20886.0,bn:t Blatzheim Networks Telecom GmbH,DE,51167.0,Contabo GmbH,http:exploit,2,4637
5,BR,7162.0,Universo Online S.A.,US,14618.0,AMAZON-AES,http:spam,12087,0
6,BR,7162.0,Universo Online S.A.,US,14618.0,AMAZON-AES,http:scan,12087,0
7,,14618.0,,TR,47721.0,Murat Aktas,http:exploit,46,6466
8,,14618.0,,TR,47721.0,Murat Aktas,http:spam,46,6466
9,,14618.0,,US,55286.0,SERVER-MANIA,http:scan,163,5231
10,,14618.0,,US,55286.0,SERVER-MANIA,http:spam,163,5231
11,NaN,14618.0,,US,55286.0,SERVER-MANIA,http:spam,163,5231

In [40]:
df

,watcher_country,watcher_as_num,watcher_as_name,attacker_country,attacker_as_num,attacker_as_name,attack_type,watcher_uuid_enum,attacker_ip_enum
0,DE,34011.0,Host Europe GmbH,TR,47721.0,Murat Aktas,http:exploit,0,6466
1,DE,34011.0,Host Europe GmbH,TR,47721.0,Murat Aktas,http:spam,0,6466
2,DE,20886.0,bn:t Blatzheim Networks Telecom GmbH,DE,51167.0,Contabo GmbH,http:bruteforce,2,4637
3,DE,20886.0,bn:t Blatzheim Networks Telecom GmbH,DE,51167.0,Contabo GmbH,http:spam,2,4637
4,DE,20886.0,bn:t Blatzheim Networks Telecom GmbH,DE,51167.0,Contabo GmbH,http:exploit,2,4637
5,BR,7162.0,Universo Online S.A.,US,14618.0,AMAZON-AES,http:spam,12087,0
6,BR,7162.0,Universo Online S.A.,US,14618.0,AMAZON-AES,http:scan,12087,0
7,,14618.0,,TR,47721.0,Murat Aktas,http:exploit,46,6466
8,,14618.0,,TR,47721.0,Murat Aktas,http:spam,46,6466
9,,14618.0,,US,55286.0,SERVER-MANIA,http:scan,163,5231
10,,14618.0,,US,55286.0,SERVER-MANIA,http:spam,163,5231
11,NaN,14618.0,,US,55286.0,SERVER-MANIA,http:spam,163,5231

In [23]:
# Imputar valores faltantes en 'attacker_as_name' usando 'watcher_as_name' cuando 'attacker_as_num' es igual
df['attacker_as_name'] = df.apply(lambda row: row['watcher_as_name'] if pd.isna(row['attacker_as_name']) and row['watcher_as_num'] == row['attacker_as_num'] else row['attacker_as_name'], axis=1)